body{
    /* margin: 10; */
    background-color: black;
}

main{
    display: flex;
    margin: 10px;
    gap: 10px;
}

#numBtn { 
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 60%;
    height: 85vh;
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    
}

#btns{
    margin-bottom: 10vh;
}

button{
    width: 5vw;
    height: 10vh;
    border-radius: 50px;
}

#nums{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-column: 0.5fr 0.5fr 0.5fr;
    background-color: white;
    width: 40%;
    height: 85vh;
    border-radius: 15px;
    text-align: center;
    font-size: 1.2rem;

}

#numOut{
    margin-bottom: 25vh;
    font-size: 8rem;
}

.out{
    /* display: flex; */
    /* justify-content: center; */
    background-color:red;
    text-align: center;
    /* width: 2vw; */
    /* height: 4vh; */
    border-radius: 15px;
}